[Desktop Entry]
Encoding=UTF-8
Name=Lien vers LilyPond – la notation musicale pour tous: Unix
Type=Link
URL=http://lilypond.org/unix.fr.html
Icon=text-html
