[Desktop Entry]
Encoding=UTF-8
Name=Lien vers LilyPond – Music notation for everyone: Text input
Type=Link
URL=http://lilypond.org/text-input.html
Icon=text-html
