# Dossier build contenant les objets
ModeleMarkov/build

# Dossier bin contenant les executables
ModeleMarkov/bin

# Dossier test contenant les tests
ModeleMarkov/test/melodies/*
ModeleMarkov/test/modelisations/*
ModeleMarkov/test/improvisations/*
ModeleMarkov/test/comparaisons/*
