[Desktop Entry]
Encoding=UTF-8
Name=Lien vers The High Sausages - Black Hearted Woman (Studio Version) - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=5yGg7dWClDA&index=84&list=PLqg2R5-7jHdmTa-ferUY57awBT3v8T4SG
Icon=text-html
