body {
	display: flex;
	flex-direction: column;
}

section {
	display: flex;
	flex-direction: row;
}

article {
	flex-grow: 1;
	padding: 15px;
}

h2 {
	margin: 10px 0;
	font-size: 16px;
	color: #0A67A3;
}

p {
	padding: 10px;
}

table, table th, table td {
	border: 1px solid rgba(0, 0, 0, 0.7);
}

table {
	margin: auto;
	margin-bottom: 5px;
	font-size: 14px;
	border-collapse: collapse;
}

table tr:hover td {
	background: rgba(0, 0, 0, 0.15);
}

table th {
	padding: 5px 15px;
	color: #0A67A3;
}

table td {
	padding: 1.5px 15px;
	text-align: right;
	border-width: 0 1px;
}

table td:first-child {
	text-align: left;
}

pre {
	margin: 0 20%;
	text-align: center;
	color: #0A67A3;
	border: 1px solid #0A67A3;
}
