
body {
	background: #65A6D1;
}

/* La section est en pleine page dans le body */

section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

/* La div est centrée dans la section et est composée d'une navigation et d'articles disposés en colonne dans une div */

section > div {
	display: flex;
	flex-direction: column;
	width: 50%;
}

/* La navigation permet de naviguer entre les pages au moyen de liens dans une liste */

nav {
	margin-bottom: 30px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

nav ul li {
	display: flex;
	margin-right: 15px;
}

nav ul li a {
	display: inline-block;
	padding: 0 20px;
	line-height: 50px;
	color: rgba(255, 255, 255, 0.8);
	transition: background .2s ease;
}

nav ul li a[href=""], nav ul li a:hover {
	color: rgba(0, 0, 0, 0.85);
	background: rgba(255, 255, 255, 0.6);
}

/* Un article de session peut contenir des div disposées en ligne et peut être masqué */

article {
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
	padding: 30px;
	background: rgba(255, 255, 255, 0.6);
	transition: all .5s ease;
}

article.masque {
	display: none;
}

/* La div d'un article a une marge intérieure */

article > div {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	line-height: 30px;
}

/* Les div des div des articles contiennent un input et potentiellement un label */

article > div > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	vertical-align: middle;
}

/* Les div des articles ont une barre verticale de séparation lorsqu'ils ne sont pas en première position */

article > div:nth-child(n+2) {
	padding-left: 30px;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
}

/* La zone de dépôt des fichiers possède des div */

div#zone-depot {
	background: rgba(0, 0, 0, 0.05);
}

div#zone-depot, div#zone-depot * {
	transition: .15s all ease;
	cursor: pointer;
}

div#zone-depot > div {
	padding: 10px;
	flex-direction: column;
}

div#zone-depot:hover {
	background: rgba(255, 255, 255, 0.5);
}

div#zone-depot:hover > div {
	padding: 20px;
}

/* Les éléments directement enfants de la première div de la zone de dépôt sont une div contenant un paragraphe et une div contenant un input */

div#zone-depot div div {
	flex-grow: 1;
	height: 300px;
	line-height: 100%;
	font-size: 25px;
	text-align: center;
	color: rgba(0, 0, 0, 0.4);
}

div#zone-depot:hover div div {
	height: 280px;
	font-size: 20px;
}

div#zone-depot div div p span {
	display: inline-block;
	padding-top: 25px;
	font-size: 18px;
}

div#zone-depot:hover div div p span {
	padding-top: 18px;
	font-size: 14px;
}

div#zone-depot div div:first-child {
	position: absolute;
	display: flex;
	align-items: center;
}

div#zone-depot div div p.rempli {
	font-size: 16px;
}

div#zone-depot:hover div p.rempli {
	font-size: 14px;
}

div#zone-depot div div:last-child {
	display: flex;
	width: 100%;
	border: 2px dashed rgba(0, 0, 0, 0.4);
}

div#zone-depot div div input {
	opacity: 0;
	width: 100%;
	z-index: 100;
}

/* La div qui contient les types d'improvisation possède des inputs */

div#types-improvisation input {
	margin-right: 10px;
}

/* La div qui contient un label et un input est plus petite et peut être masquée en JS */

div#options-improvisation {
	flex-grow: 0.2;
}

div#options-improvisation input {
	width: 80px;
}

/* La div qui contient les fichiers générés possède des inputs se remplissant tous seuls, un par fichier */

div#fichiers-improvisation div {
	display: flex;
	justify-content: space-between;
}

div#fichiers-improvisation div:nth-child(n+2) {
	margin-top: 20px;
}

div#fichiers-improvisation div input {
	width: 66%;
	padding: 5px 5px;
}

/* Le footer de la section contient des boutons */

section footer {
	display: flex;
	justify-content: space-between;
}

section footer button {
	width: 25%;
	height: 50px;
	color: rgba(255, 255, 255, 0.8);
	border: none;
	background: rgba(255, 255, 255, 0.2);
	transition: background .2s ease;
}

section footer button.actif {
	color: rgba(0, 0, 0, 0.6);
	background: rgba(255, 255, 255, 0.6);
	cursor: pointer;
}

section footer button.actif:hover {
	color: rgba(0, 0, 0, 0.8);
	background: rgba(255, 255, 255, 0.8);
}
